# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Archivos de resultados y logs locales
resultados_dominios.txt
dominios.txt
.DS_Store
.idea/
.vscode/

# Configuración y base de datos local del bot de Telegram
.telegram_bot_config.json
.telegram_bot_users.json
.liberdom_config.json
